<form (ngSubmit)="lobby.status === lobbyStatuses.AnswerReveal || !myControl.value || submit()">
  <mat-form-field style="width: 100%" id="lobby-autocomplete">
    <input
      #answerInput
      type="text"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      #trigger="matAutocompleteTrigger"
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="lobby.status === lobbyStatuses.AnswerReveal || submit()"
    >
      <mat-option
        *ngFor="let option of gameNames | async | slice: 0:30"
        [value]="option"
        [innerHtml]="'<span>' + option + '</span>'"
      >
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
