@if (autocompleteFailed) {
<mat-error>Autocomplete failed. We will try to get it back ASAP. Sorry for the inconvenience</mat-error>
}
<form (ngSubmit)="lobby.status === lobbyStatuses.AnswerReveal || !myControl.value || submit()">
  <mat-form-field style="width: 100%" id="lobby-autocomplete">
    <input
      #answerInput
      type="text"
      placeholder="Type your answer here..."
      aria-label="Number"
      matInput
      autocomplete="off"
      autocapitalize="off"
      spellcheck="false"
      #trigger="matAutocompleteTrigger"
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="lobby.status === lobbyStatuses.AnswerReveal || submit()"
    >
      <mat-option
        [ngClass]="{ '!tw-text-blue-400': option.type === 'collection_name' }"
        *ngFor="let option of gameNames | async | slice : 0 : 30"
        [value]="option.name"
      >
        <span>{{ option.highlight[0] }}</span>
        <span class="highlighted">{{ option.highlight[1] }}</span>
        <span>{{ option.highlight.slice(2).join('') }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
