<div class="container">
    <form class="form-login" [formGroup]="signupForm" (ngSubmit)="registerUser()">
        <div class="row">
            <h3 class="h3 mb-3 font-weight-normal text-center">Please sign up</h3>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Enter name" required>
            </div>
        </div>
        <div class="row">
            <span class="errorMsg"
                *ngIf="signupForm.get('name').hasError('minlength') && signupForm.get('name').touched">
                Username should be atleast 4 characters long.
            </span>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Enter email" required>
            </div>
        </div>
        <div class="row">
            <span class="errorMsg" *ngIf="signupForm.hasError('email', 'email') && signupForm.get('email').touched">
                Please enter a correct email.
            </span>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Password" required>
            </div>
        </div>
        <div class="row">
            <span class="errorMsg"
                *ngIf="signupForm.get('password').hasError('minlength') && signupForm.get('password').touched">
                Password should atleast have 8 characters.
            </span>
        </div>
        <div class="row">
            <button [disabled]="signupForm.controls['email' || 'name' || 'password'].invalid" type="submit"
                class="btn btn-lg btn-primary">Sign up</button>
        </div>
    </form>
</div>