<form class="flex items-center justify-center flex-col" [formGroup]="form" (ngSubmit)="loading || recaptcha.execute()">
  <div class="col-md-12 alert alert-danger" role="alert" *ngIf="formErrorMessage">
    {{ formErrorMessage }}
  </div>
  <div class="form-group">
    <input
      type="email"
      class="form-control !bg-grey text-center placeholder: w-[300px] md:w-[400px] h-[53px] rounded-md"
      formControlName="email"
      placeholder="Email"
      required
      [ngClass]="{
        'is-invalid': form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)
      }"
    />
    <div *ngIf="form.get('email')?.errors?.serverError as error" class="invalid-feedback">
      {{ error }}
    </div>
  </div>
  <re-captcha
    #recaptcha
    [siteKey]="environment.recaptchaKey"
    theme="dark"
    (resolved)="$event && submit($event)"
    size="invisible"
  ></re-captcha>
  <div class="col-md-12 text-center mt-3">
    <button type="submit" class="h-btn w-[170px] bg-lime mt-6 text-black" [disabled]="loading">
      <span
        class="spinner-border spinner-border-sm"
        type="button"
        role="status"
        aria-hidden="true"
        *ngIf="loading"
      ></span>
      Reset password
    </button>
  </div>
  <p class="text-sm mt-5">Back to login <a routerLink="/" class="text-[#59EE7F] no-underline">login</a></p>
</form>
