<div class="!tw-bg-grey">
  <form (ngSubmit)="password.invalid || submit()">
    <h1 class="tw-text-white !tw-font-fastup !tw-text-5xl tw-text-center" mat-dialog-title>Password required</h1>
    <div mat-dialog-content>
      <label class="tw-text-white tw-mb-2">Please enter the lobby password</label>
      <input
        class="form-control !tw-bg-grey tw-rounded-md placeholder:tw-text-light-grey"
        [ngClass]="{ 'is-invalid': password.invalid }"
        type="password"
        [formControl]="password"
      />
      <span class="invalid-feedback" *ngIf="password.errors?.serverError as serverError">{{ serverError }}</span>
    </div>
    <div class="tw-flex tw-justify-center">
      <mat-dialog-actions>
        <button class="btn btn-outline-primary" mat-dialog-close>Cancel</button>
        <button class="tw-ml-4 btn btn-primary" type="submit">Enter</button>
      </mat-dialog-actions>
    </div>
  </form>
</div>
