<form (ngSubmit)="password.invalid || submit()">
  <h1 mat-dialog-title>Password required</h1>
  <div mat-dialog-content>
    <label>Please enter the lobby password</label>
    <input
      class="form-control"
      [ngClass]="{ 'is-invalid': password.invalid }"
      type="password"
      [formControl]="password"
    />
    <span class="invalid-feedback" *ngIf="password.errors?.serverError as serverError">{{ serverError }}</span>
  </div>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit">Enter</button>
  </mat-dialog-actions>
</form>
