<div id="home" class="tw-bg-light-green tw-relative tw-z-10">
  <header class="tw-bg-newBlack tw-h70">
    <nav class="tw-flex tw-items-center tw-justify-between">
      <img class="tw-ml-6 tw-mt-1" src="assets/svg/vgmq.svg" width="170" height="48" />
      <div class="tw-flex tw-items-center">
        <a class="tw-mr-2" href="https://discord.gg/cxqeYdfz3X" target="_blank"
          ><img class="tw-rounded-lg" src="assets/svg/discord.svg" width="43" height="43"
        /></a>
      </div>
    </nav>
  </header>
  <section id="login-register" class="tw-flex tw-items-center tw-flex-col tw-bg-newBlack lg:tw-rounded-bl-[300px]">
    <div class="tw-w-full md:tw-w-1/2">
      <h4 class="!tw-text-6xl md:!tw-text-7xl tw-text-center">VIDEO GAME</h4>
      <h4 class="!tw-text-6xl md:!tw-text-7xl tw-text-center">MUSIC QUIZ</h4>
    </div>
    <router-outlet *ngIf="router.url !== '/'"></router-outlet>
    <app-login *ngIf="router.url === '/'"></app-login>
  </section>
  <section
    id="what-is"
    class="tw-flex tw-flex-col tw-align-center md:tw-flex-row md:tw-justify-center tw-gap-4 md:tw-bg-[unset] tw-bg-yellow"
  >
    <div class="tw-max-w-[530px] tw-flex tw-flex-col tw-items-center">
      <h4 class="!tw-text-7xl tw-text-black tw-text-center">WHAT IS</h4>
      <img src="assets/svg/vgmq.svg" width="390" height="135" />
    </div>
    <div class="tw-max-w-[530px]">
      <p class="tw-text-center tw-text-black tw-leading-7">
        VGMQ is a free, multiplayer game that lets you challenge your friends to a fun and challenging music quiz! The
        questions are based on your gaming history, so you'll only hear music from games you've played ! VGMQ is still
        under development, but we're always adding new features and games! Feel free to join the
        <a href="https://discord.gg/cxqeYdfz3X" target="_blank" class="tw-text-blue-950">Discord</a>!
      </p>
    </div>
  </section>
  <section id="play" class="tw-flex tw-flex-col md:tw-flex-row tw-gap-4 tw-justify-center">
    <div
      class="tw-bg-newBlack tw-mt-20 tw-rounded-2xl tw-max-w-[550px] tw-h-[700px] tw-shadow-[-40px_40px] tw-shadow-yellow"
    >
      <div class="tw-flex tw-flex-col tw-justify-center tw-h-full tw-mx-8">
        <img class="tw-mb-10" src="assets/svg/heart.svg" width="80" height="80" />
        <h4 class="!tw-text-7xl">FREE TO PLAY</h4>
        <svg
          class="tw-text-yellow tw-mt-4"
          width="268"
          height="30"
          viewBox="0 0 268 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 0L130.606 0L118.34 27.412H0V0Z" fill="currentColor" />
          <path d="M146.652 0H189.107L176.841 27.412H134.386L146.652 0Z" fill="currentColor" />
          <path d="M201.476 0H224.542L212.276 27.412H189.21L201.476 0Z" fill="currentColor" />
          <path d="M236.911 0H249.177L236.911 27.412H224.645L236.911 0Z" fill="currentColor" />
          <path d="M261.649 0H268L255.734 27.412H249.383L261.649 0Z" fill="currentColor" />
        </svg>
        <p class="!tw-mt-10">VGMQ will always be free! Your support through donations helps us keep it going !</p>
      </div>
    </div>
    <div
      class="tw-bg-newBlack tw-rounded-2xl tw-max-w-[550px] tw-h-[700px] tw-shadow-[40px_40px] tw-shadow-lime md:tw-mt-0 tw-mt-8"
    >
      <div class="tw-flex tw-flex-col tw-justify-center tw-h-full tw-mx-8">
        <img class="tw-mb-10" src="assets/svg/user.svg" width="80" height="80" />
        <h4 class="!tw-text-7xl">PLAY WITH OTHERS</h4>
        <svg
          class="tw-text-lime tw-mt-4"
          width="268"
          height="30"
          viewBox="0 0 268 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 0L130.606 0L118.34 27.412H0V0Z" fill="currentColor" />
          <path d="M146.652 0H189.107L176.841 27.412H134.386L146.652 0Z" fill="currentColor" />
          <path d="M201.476 0H224.542L212.276 27.412H189.21L201.476 0Z" fill="currentColor" />
          <path d="M236.911 0H249.177L236.911 27.412H224.645L236.911 0Z" fill="currentColor" />
          <path d="M261.649 0H268L255.734 27.412H249.383L261.649 0Z" fill="currentColor" />
        </svg>
        <p class="!tw-mt-10">Challenge your friends in public or private lobbies!</p>
      </div>
    </div>
  </section>
  <section id="games-number">
    <div class="tw-flex tw-justify-end tw-text-center">
      <div class="tw-flex tw-flex-col tw-items-center">
        <h4 class="!tw-text-7xl tw-text-black"><span class="tw-font-poppins tw-font-bold">1000+</span> GAMES</h4>
        <p class="!tw-mr-2 tw-text-black">With over 40,000 songs from 1,000 games, there's something for everyone!</p>
      </div>
    </div>
  </section>
  <section id="games-preview" class="tw-flex tw-flex-col tw-bg-newBlack tw-gap-4">
    <div class="tw-flex tw-gap-4 tw-overflow-hidden mx-4 tw-justify-center">
      <img class="tw-w-[240px] lg:tw-w-[320px]" height="340px" src="https://images.igdb.com/igdb/image/upload/t_720p/co49x5.jpg" />
      <img class="tw-w-[240px] lg:tw-w-[320px]" height="340px" src="https://images.igdb.com/igdb/image/upload/t_720p/co45rg.jpg" />
      <img class="tw-w-[240px] lg:tw-w-[320px]" height="340px" src="https://images.igdb.com/igdb/image/upload/t_720p/co2855.jpg" />
      <img class="tw-w-[240px] lg:tw-w-[320px]" height="340px" src="https://images.igdb.com/igdb/image/upload/t_720p/co1rcb.jpg" />
      <img class="tw-w-[240px] lg:tw-w-[320px]" height="340px" src="https://images.igdb.com/igdb/image/upload/t_720p/co1rs4.jpg" />
      <img class="tw-w-[240px] lg:tw-w-[320px]" height="340px" src="https://images.igdb.com/igdb/image/upload/t_720p/co62ao.jpg" />
    </div>
    <div class="tw-flex tw-gap-4 mx-8 tw-overflow-hidden tw-justify-center">
      <img class="tw-w-[240px] lg:tw-w-[320px]" height="340px" src="https://images.igdb.com/igdb/image/upload/t_720p/co1u07.jpg" />
      <img class="tw-w-[240px] lg:tw-w-[320px]" height="340px" src="https://images.igdb.com/igdb/image/upload/t_720p/co39vc.jpg" />
      <img class="tw-w-[240px] lg:tw-w-[320px]" height="340px" src="https://images.igdb.com/igdb/image/upload/t_720p/co4jni.jpg" />
      <img class="tw-w-[240px] lg:tw-w-[320px]" height="340px" src="https://images.igdb.com/igdb/image/upload/t_720p/co1tnw.jpg" />
      <img class="tw-w-[240px] lg:tw-w-[320px]" height="340px" src="https://images.igdb.com/igdb/image/upload/t_720p/co49wj.jpg" />
      <img class="tw-w-[240px] lg:tw-w-[320px]" height="340px" src="https://images.igdb.com/igdb/image/upload/t_720p/co4adm.jpg" />
    </div>
  </section>
  <section id="join" class="tw-bg-newBlack tw-flex tw-flex-col tw-items-center">
    <h4 class="!tw-text-7xl tw-text-center">join now for free</h4>
    <button class="tw-h-btn tw-w-btn tw-bg-lime tw-mt-6 tw-text-black tw-border-none" (click)="scrollToTop()">
      <a routerLink="/register" class="tw-text-black tw-no-underline">Register</a>
    </button>
  </section>
  <footer class="tw-bg-[#000000] tw-flex tw-items-center tw-justify-center md:tw-justify-start tw-h-[80px]">
    <p class="tw-text-white tw-text-sm md:!tw-ml-16 !tw-ml-0">All Rights Reserved VGMQ 2023</p>
  </footer>
</div>
