.body {
    background-color: white;
    font-weight: 500;
}

ul > li.nav-item.active > a {
    color: #ff7d43;
    border-bottom: 1px solid #ff7d43;
    padding-bottom: 5px;
}

ul > li.nav-item > a {
    margin-left: 30px;
}

.container-fluid {
    padding: 0;
    margin: 0;
    font-weight: 550;
}

mat-checkbox {
    margin-left: 30px;
}

.openButton {
    background-color: white;
    color: #ff7d43;
    border-color: #ff7d43;
    border-radius: 0;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #ff7d43 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #ff7d43;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}

.cardSpacing {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.spacingFilters {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}