.body {
    background-color: white;
    font-weight: 500;
}

ul > li.nav-item.active > a{
    color: #FF7D43;
    border-bottom: 1px solid #FF7D43;
    padding-bottom: 5px;
}

ul > li.nav-item > a{
    margin-left: 30px;
}

.container-fluid {
    padding: 0;
    margin:0;
    font-weight: 550;
}
