@use '@angular/material' as mat;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

@import "@angular/material/prebuilt-themes/indigo-pink.css";
$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$mat-vgmq-green: (
        50: #e7feeb,
        100: #c5fbce,
        200: #9cf9af,
        300: #65f78a,
        400: #15f26a,
        500: #00eb52,
        600: #00da46,
        700: #00c539,
        800: #00b32d,
        900: #009117,
        A100: #c5fbce,
        A200: #9cf9af,
        A400: #15f26a,
        A700: #00c539,
        contrast: (
                50: $light-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $dark-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $dark-primary-text,
                A400: $dark-primary-text,
                A700: $light-primary-text,
        )
);
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$vgmq-primary: mat.m2-define-palette($mat-vgmq-green, 300);
$vgmq-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$vgmq-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$vgmq-theme: mat.m2-define-dark-theme($vgmq-primary, $vgmq-accent, $vgmq-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($vgmq-theme);
