<h1 mat-dialog-title>Website in progress</h1>
<div class="col-md-12">
  <div class="col-md-12 alert alert-danger" role="alert" *ngIf="formErrorMessage">
    {{ formErrorMessage }}
  </div>
  <form [formGroup]="limitedAccessForm" (ngSubmit)="limitedAccessLoading || recaptchaPassword.execute()">
    <p>This website is under development, to create an account, please enter the magic password below</p>
    <p>
      If you want to get an early access to give some feedback, <br />or help me on some stuff (design, coding, server
      hosting, etc...)<br />DM me on Discord!
      <strong>gubs#0133</strong>
    </p>
    <div class="input-group" [ngClass]="{ 'is-invalid': limitedAccessForm.get('password').hasError('serverError') }">
      <input
        type="password"
        class="form-control"
        placeholder="Secret password"
        aria-label="Secret password"
        aria-describedby="button-addon2"
        [ngClass]="{ 'is-invalid': limitedAccessForm.get('password').hasError('serverError') }"
        formControlName="password"
      />
    </div>
    <div
      class="invalid-feedback"
      *ngIf="limitedAccessForm.get('password').hasError('serverError') || limitedAccessError"
    >
      <ng-container *ngFor="let error of limitedAccessForm.get('password').getError('serverError')">
        {{ error }}
      </ng-container>
      <ng-container *ngFor="let error of limitedAccessError">
        {{ error }}
      </ng-container>
    </div>
    <re-captcha
      class="text-center"
      #recaptchaPassword
      [siteKey]="environment.recaptchaKey"
      (resolved)="$event && testLimitedAccessPassword($event)"
      theme="dark"
      size="invisible"
    ></re-captcha>
    <div class="col-md-12 text-center mt-3">
      <button type="submit" class="btn btn-primary col-md-6" [disabled]="limitedAccessLoading">
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
          *ngIf="limitedAccessLoading"
        ></span>
        Enter
      </button>
    </div>
    <div class="col-md-12 text-center mt-3">
      <a routerLink="/">Come back to login</a>
    </div>
  </form>
</div>
