<h1 mat-dialog-title>Link this music with another music</h1>
<div mat-dialog-content>
  <form (ngSubmit)="!myControl.value || submit()">
    <mat-form-field style="width: 100%" id="lobby-autocomplete">
      <input
        type="text"
        [formControl]="myControl"
        placeholder="enter the derived music ID"
        aria-label="Number"
        matInput
      />
    </mat-form-field>
  </form>
</div>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-flat-button color="primary" (click)="submit()">Confirm</button>
</mat-dialog-actions>
