<div class="d-flex flex-wrap justify-content-between" style="height: 260px">
  <ng-container *ngFor="let game of games; let i = index">
    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      [id]="i"
      [formControl]="formControl"
      [value]="game"
      autocomplete="off"
    />
    <label class="btn btn-outline-primary col-12 col-md-5 d-flex justify-content-center" style="height: 60px" [for]="i">
      <span #xd class="align-self-center hint-mode-answer">{{ game }}</span>
    </label>
  </ng-container>
</div>
