<div class="lobby-center-container bg-dark px-4 pt-4 position-relative" [ngClass]="{ 'hint-mode': me?.hintMode }">
  <div class="d-flex text-center align-items-center h-100 justify-content-between position-relative flex-column">
    <div *ngIf="showEmptyTopDiv()">
      <!-- empty div to center buffering + countdown -->
    </div>
    <div *ngIf="lobby?.status === lobbyStatuses.Loading" class="w-100">
      {{ loadProgress }}%
      <mat-progress-bar mode="determinate" [value]="loadProgress"></mat-progress-bar>
    </div>
    <app-hint-mode-toggle
      *ngIf="lobby?.hintMode === lobbyHintModes.Allowed && lobby?.status === lobbyStatuses.PlayingMusic"
    ></app-hint-mode-toggle>
    <div *ngIf="!canPlayMusic" class="align-self-center position-absolute">
      <p>Press the button to start playing<br />(Music will play on the next loop)</p>
      <button class="btn btn-primary" (click)="play()">Play</button>
    </div>
    <div *ngIf="me?.status === lobbyUserStatus.Buffering" class="position-absolute" style="top: 0; left: 0">
      <span class="spinner-border spinner-border-sm" type="button" role="status" aria-hidden="true"></span>
    </div>
    <div
      *ngIf="lobby?.status === lobbyStatuses.Buffering"
      class="align-self-center countdown"
      [ngClass]="{ 'd-none': !canPlayMusic }"
    >
      Buffering...
    </div>
    <app-lobby-countdown
      class="text-center"
      *ngIf="canPlayMusic && lobby?.status === lobbyStatuses.PlayingMusic"
      [ngClass]="{ 'd-none': !canPlayMusic }"
    ></app-lobby-countdown>
    <app-hint-mode
      *ngIf="
        lobby?.status === lobbyStatuses.PlayingMusic && (lobby?.hintMode === lobbyHintModes.Always || me?.hintMode)
      "
    ></app-hint-mode>
    <app-lobby-answer class="w-100" *ngIf="showAnswerComponent()"></app-lobby-answer>
    <div *ngIf="showEmptyBottomDiv()">
      <!-- empty div to center buffering -->
    </div>
  </div>
  <app-lobby-audio-player></app-lobby-audio-player>

  <app-lobby-countdown-progress></app-lobby-countdown-progress>
</div>
