<div>
  <div class="row">
    <div class="col-md-9">Browse Games :</div>
    <div class="col-md-3">
      <button routerLink="/lobby/create" class="btn btn-primary">Host</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div *ngIf="showFilter">
        Hide :
        <mat-checkbox color="primary" [(ngModel)]="isPrivate">Private</mat-checkbox>
        <mat-checkbox color="primary" [(ngModel)]="isPlaying">Playing</mat-checkbox>
        <mat-checkbox color="primary" [(ngModel)]="isFull">Full</mat-checkbox>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button [ngClass]="{ openButton: showFilter }" (click)="showFilters()" class="btn btn-primary">
        <span
          ><svg
            class="bi bi-filter"
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M6 10.5a.5.5 0 01.5-.5h3a.5.5 0 010 1h-3a.5.5 0 01-.5-.5zm-2-3a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7a.5.5 0 01-.5-.5zm-2-3a.5.5 0 01.5-.5h11a.5.5 0 010 1h-11a.5.5 0 01-.5-.5z"
              clip-rule="evenodd"
            /></svg></span
        >Show filters
      </button>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div *ngFor="let lobby of lobbies" class="col-md-3" (click)="joinLobby(lobby)">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{ lobby.name }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <div class="row">
          <div class="col-md-4">
            <p>jpp</p>
          </div>
          <div class="col-md-8">image de sanic</div>
        </div>
      </mat-card-content>
      <mat-card-actions class="centered">
        <button class="btn btn-primary">Join</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
