<div>
  <div class="row">
    <div class="col-md-9">Browse Games :</div>
    <div class="col-md-3">
      <button routerLink="/lobby/create" class="btn btn-primary">Host</button>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div *ngFor="let lobby of lobbies" class="col-md-3" (click)="joinLobby(lobby)">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{ lobby.name }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <div class="row">
          <div class="col-md-4">
            <p>jpp</p>
          </div>
          <div class="col-md-8">image de sanic</div>
        </div>
      </mat-card-content>
      <mat-card-actions class="centered">
        <button class="btn btn-primary">Join</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
