<mat-slider
  class="d-none d-md-inline-block"
  aria-label="unit(s)"
  [min]="0"
  [max]="1"
  [step]="0.001"
  color="primary"
  (input)="updateVolume($event.target)"
>
  <input matSliderThumb [value]="getDefaultVolumeValue()" />
</mat-slider>
<button class="mat-icon-button" mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon color="primary">more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item mdbTooltip="Answer reveal media type">
    <mat-icon *ngIf="!mediaTypeOnReveal">block</mat-icon>
    <mat-icon *ngIf="mediaTypeOnReveal === 1">image</mat-icon>
    <mat-icon *ngIf="mediaTypeOnReveal === 2">movie</mat-icon>
    <mat-slider [min]="0" [max]="2" [step]="1" color="primary" (click)="$event.stopPropagation()">
      <input matSliderThumb [value]="getDefaultMediaTypeOnReveal()" (valueChange)="updateMediaTypeOnReveal($event)" />
    </mat-slider>
  </button>
  @if(meIsPremium) {
  <button class="tw-border-none tw-bg-transparent">
    <mat-slide-toggle
      [checked]="audioVisualizerStatus"
      (click)="setAudioVisualizerStatus()"
      color="primary"
    ></mat-slide-toggle
    >Enable audio visualizer
    <p></p>
  </button>
  }
</mat-menu>
