<div class="row tw-w-[100%]">
  <div class="col-1">{{ gameMusic.track ?? gameMusic.music.track }}</div>
  <ng-container [formGroup]="formGroup">
    <div class="col-3">
      <input
        #titleInput
        formControlName="title"
        (focus)="titleInput.select()"
        (blur)="save()"
        (keydown.enter)="titleInput.blur()"
        [ngClass]="{ 'is-invalid': title.invalid && (title.dirty || title.touched) }"
      />
    </div>
    <div class="col-3">
      <input
        #artistInput
        formControlName="artist"
        (focus)="artistInput.select()"
        (blur)="save()"
        (keydown.enter)="artistInput.blur()"
      />
    </div>
  </ng-container>
  <div class="col-1">{{ duration | date : 'mm:ss' }}</div>
  <div class="col-1">
    {{ gameMusic.guessAccuracy !== null ? (gameMusic.guessAccuracy * 100 | number : '1.0-2') + '%' : '-' }}
  </div>
  <div class="col">
    <div class="row justify-content-end">
      <ng-container *ngIf="loading; else musicRowButtons">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </ng-container>
      <ng-template #musicRowButtons>
        <audio *ngIf="src" [src]="src" controls></audio>
        <ng-container *ngIf="!edit; else editMusicButtons">
          <button *ngIf="!src" class="btn btn-sm btn-primary col" (click)="listen()">
            <i class="fa fa-play"></i>
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
              *ngIf="listenLoading"
            ></span>
          </button>
          <button class="btn btn-sm btn-danger col" (click)="delete()"><i class="fa-solid fa-trash"></i></button>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addDerivedGame()">
              <mat-icon>add</mat-icon>
              <span>Add to a game</span>
            </button>
          </mat-menu>
        </ng-container>
        <ng-template #editMusicButtons>
          <button class="btn btn-sm btn-success" (click)="save()">save</button>
          <button class="btn btn-sm btn-danger" (click)="cancel()">cancel</button>
        </ng-template>
      </ng-template>
    </div>
  </div>
  <div class="col-12" *ngIf="gameMusic.derivedGameToMusics && gameMusic.derivedGameToMusics.length > 0">
    <small>Also appears in</small>
    <app-derived-music
      class="row"
      *ngFor="let derivedGameToMusic of gameMusic.derivedGameToMusics; index as i"
      [gameMusic]="derivedGameToMusic"
      (remove)="handleGameMusicDeleted(i)"
    >
    </app-derived-music>
  </div>
</div>
