.btn-primary {
  background-color: #FF7D43;
  border-color: #FF7D43;
  border-radius: 0;
}

.btn-primary:disabled {
  background-color: rgb(233, 158, 124);
  border-color: #FF7D43;
  border-radius: 0;
}

.btn-primary:hover {
  background-color: white;
  color: #FF7D43;
  border-color: #FF7D43;
  border-radius: 0;
}

.btn-primary:focus {
  background-color: white;
  color: #FF7D43;
  border-color: #FF7D43;
  border-radius: 0;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.btn-primary:active {
  background-color: white;
  color: #FF7D43;
  border-color: #FF7D43;
  border-radius: 0;
}

.btn-primary-reverse {
  background-color: white;
  border-color: #FF7D43;
  border-radius: 0;
  color: #FF7D43;
}

.btn-primary-reverse:disabled {
  background-color: rgb(233, 158, 124);
  border-color: #FF7D43;
  border-radius: 0;
}

.btn-primary-reverse:hover {
  background-color: #FF7D43;
  color: white;
  border-color: #FF7D43;
  border-radius: 0;
}

.btn-primary-reverse:focus {
  background-color: #FF7D43;
  color: white;
  border-color: white;
  border-radius: 0;
}

.btn-primary-reverse:active {
  background-color: #FF7D43;
  color: white;
  border-color: white;
  border-radius: 0;
}
