.errorMsg {
  color: red
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background: transparent;
}

label {
  &:hover {
    color: var(--#{$prefix}btn-hover-color) !important;
    text-decoration: if($link-hover-decoration == underline, none, null) !important;
    background-color: var(--#{$prefix}btn-hover-bg) !important;
    border-color: var(--#{$prefix}btn-hover-border-color) !important;
  }
}
