app-game-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 185px;
  @include media-breakpoint-down(sm) {
    width: 125px;
  }
  & > div {
    position: relative;
    flex: 0 0 auto;
  }

  .badge {
    outline: black solid 2px;
  }

  img {
    min-width: 100%;
  }

  .no-music {
    img {
      filter: grayscale(1);
    }
  }

  .pills-container {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .pill {
      height: 30px;
      min-width: 50px;
      width: 40px;
      line-height: 2px;
      i {
        font-size: 10px;
      }
    }
  }

  .game-item-cta {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 25px 0 0 0;
    border: 0;
  }

  .card-title {
    padding-top: 10px;
    margin: 0;
    font-size: 16px;
    display: flex;

    .played {
      height: 12px;
      width: 12px;
      margin-right: 5px;
      background-color: #56ff43;
      border-radius: 25px;
      flex: 0 0 12px;
      margin-top: 3px;
    }
  }
}

.mat-mini-fab.large {
  width: 30px;
  height: 30px;
  line-height: 30px;

  .mat-button-wrapper {
    padding: 0;
  }

  .mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
}

.music-list,
app-music-row {
  > .row, .tw-flex {
    align-items: center;
    padding: 10px;
  }

  &:nth-child(even) {
    > .row, .tw-flex {
      background-color: #141F2B;
    }
  }
}

.alternative-name {
  padding: 10px;

  &:nth-child(odd) {
    background-color: #141F2B;
  }
}

.game-list-form {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0
}

.game-list-search {
  background: url("../../svg/search.svg") no-repeat right 10px center;
}

@include media-breakpoint-down(md) {
  .game-list-form {
    position: initial;
  }
}
