.chat-container {
  height: 100%;
  .chat {
    overflow-y: auto; overflow-x: hidden;
    height: calc(100% - 38px - 1rem);
  }
}

app-lobby-waiting {
  .chat-container {
  height: calc(100% - 38px - 0.5rem);
  }
}

.lobby-col {
  height: 50vh;
  @include media-breakpoint-down(sm) {
    height: 100%;
  }
}

app-lobby-config {
  .form-container {
    overflow-x: hidden; overflow-y: auto;
    height: calc(100% - 38px - 0.5rem);
  }

  .mat-radio-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mat-radio-label-content {
      padding-right: 8px;
    }
  }
  .checkbox-center {
    .mat-checkbox-layout {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    .mat-checkbox-inner-container {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

}

app-lobby-users {
  @include media-breakpoint-down(sm) {
    .users-container {
      flex-wrap: nowrap;
      overflow-x: auto;
      -ms-overflow-style: none; /* IE and Edge */

      &::-webkit-scrollbar {
        display: none;
      }

      & > div {
        flex: 0 0 auto;
      }
    }
  }

  .user-card {
    width: 150px;
    height: 220px;
  }

  .users-actions {
    &:after {
      content: '';
      border-right: 20px solid transparent;
      border-top: 20px solid $dark;
    }
  }
}

.lobby-center-container  {
  height: 50vh;

  app-lobby-audio-player {
    top: 0;
    right: 0;
    position: absolute;
  }

  .countdown {
    font-size: calc(4vw + 4vh + 2vmin);
  }

  app-lobby-countdown-progress {
    & > div {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: $primary;
    }
  }

  .hint-mode-answer {
    font-size: 2vh;
  }
}

@include media-breakpoint-down(md) {
  .lobby-center-container {
    height: 360px;
    app-hint-mode {
      position: static;
    }
    &.hint-mode{
      height: 410px;
      padding-bottom: 1.5rem;
      app-countdown {
        margin-top: 10px;
      }
    }
  }
}


app-lobby {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  flex:0 0 auto;
  & > div {
    position: relative;
    flex: 0 0 auto;
  }


  .badge {
    outline: black solid 2px;
  }

  img {
    min-width: 100%;
  }

  .no-music {
    img {
      filter: grayscale(1);
    }
  }

  .pills-container {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .pill {
      height: 30px;
      border-radius: 0;
      min-width: 50px;
      line-height: 20px;
      width: 40px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.countUsers {
        padding: 2px 10px 2px 8px;
        border-bottom-right-radius: 15px;
      }

      &.countMusics {
        padding: 2px 8px 2px 10px;
        border-bottom-left-radius: 15px;
      }
    }
  }

  .game-item-cta {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 25px 0 0 0 !important;
    border: 0;

    .mat-icon {
      margin: 1px 0 0 5px;
    }
  }

  .card-title {
    padding-top: 10px;
    margin: 0;
    font-size: 16px;
    display: flex;

    .played {
      height: 12px;
      width: 12px;
      margin-right: 5px;
      background-color: #56ff43;
      border-radius: 25px;
      flex: 0 0 12px;
      margin-top: 3px;
    }
  }

  app-answer-reveal-media {
    max-width: 560px;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    /* Keep it the right aspect-ratio */
    aspect-ratio: 16/9;

    .game-reveal-video-media iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 50px 25px;
    }

    .game-reveal-picture-media {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding: 50px 0;
      transition-property: opacity;
      transition-duration: 0.5s;
    }
  }

}
