app-lobby-config {
  .mat-radio-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mat-radio-label-content {
      padding-right: 8px;
    }
  }
  .checkbox-center {
    .mat-checkbox-layout {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    .mat-checkbox-inner-container {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

}

app-lobby-users {
  @include media-breakpoint-down(sm) {
    .users-container {
      flex-wrap: nowrap;
      overflow-x: auto;
      -ms-overflow-style: none; /* IE and Edge */

      &::-webkit-scrollbar {
        display: none;
      }

      & > div {
        flex: 0 0 auto;
      }
    }
  }

  .user-card {
    width: 150px;
    height: 220px;
  }

  .users-actions {
    &:after {
      content: '';
      border-right: 20px solid transparent;
      border-top: 20px solid $dark;
    }
  }
}

.lobby-center-container  {
  height: 100%;

  mat-slider {
    right: 0;
    top: 0;
  }

  .countdown {
    font-size: calc(4vw + 4vh + 2vmin);
  }

  app-lobby-countdown-progress {
    & > div {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: $primary;
    }
  }
}

@include media-breakpoint-down(md) {
  .lobby-center-container {
    height: 175px;
  }
}
