.anon-container {
  background-color: $dark;
  width: 75%;
  font-weight: 500;
  padding: 25px;
  border-radius: 1%;
  h1 {
    font-size: 36px;
  }
}

.presentation {
  border-radius: 1%;
  padding: 25px;
  text-align: center;
  h1 {
    font-size: 36px;
  }
}

@include media-breakpoint-down(md) {
  .anon-container {
    width: 100%;
  }
}
