ul > li.nav-item.active > a {
  color: $primary !important;
  padding-bottom: 5px;
}

ul > li.nav-item > a {
  margin-left: 30px;
}

.logout {
  cursor: pointer;
}

  @layer base {
    .nav-text {
      @apply tw-font-poppins tw-text-base tw-text-white hover:tw-text-lime tw-font-bold
    }
  }
