<form
  class="tw-flex tw-items-center tw-justify-center tw-flex-col"
  [formGroup]="form"
  (ngSubmit)="loading || recaptcha.execute()"
>
  <div class="col-md-12 alert alert-danger" role="alert" *ngIf="formErrorMessage">
    {{ formErrorMessage }}
  </div>
  <input
    type="password"
    class="form-control !tw-bg-grey tw-text-center tw-w-[300px] md:tw-w-[400px] tw-h-[53px] tw-mt-8 tw-mb-2 tw-rounded-md placeholder:tw-text-white"
    formControlName="password"
    placeholder="New Password"
    required
    [ngClass]="{
      'is-invalid': form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)
    }"
  />
  <div *ngIf="form.get('password')?.errors?.serverError as error" class="invalid-feedback">
    {{ error }}
  </div>
  <re-captcha
    #recaptcha
    [siteKey]="environment.recaptchaKey"
    theme="dark"
    (resolved)="$event && submit($event)"
    size="invisible"
  ></re-captcha>
  <button
    type="submit"
    class="tw-h-btn tw-w-[175px] tw-bg-lime tw-mt-6 tw-text-black tw-border-none"
    [disabled]="loading"
  >
    <span
      class="spinner-border spinner-border-sm"
      type="button"
      role="status"
      aria-hidden="true"
      *ngIf="loading"
    ></span>
    Update password
  </button>
  <p class="tw-text-sm tw-text-white !tw-mt-5">
    Back to login <a routerLink="/" class="tw-font-poppins tw-text-[#59EE7F] tw-no-underline">login</a>
  </p>
</form>
