<div class="row">
  <div class="col-md-3 d-flex flex-column">
    <div><app-button-play></app-button-play></div>
    <div><app-lobby-information></app-lobby-information></div>
    <div class="mt-2 order-1 order-md-0 mb-2 mb-md-0"><app-lobby-answer-reveal></app-lobby-answer-reveal></div>
    <div class="mt-2 order-0 order-md-1"><app-lobby-score></app-lobby-score></div>
  </div>
  <div class="col-md-6 lobby-col">
    <app-lobby-center-container></app-lobby-center-container>
  </div>
  <div class="col-md-3 lobby-col">
    <app-lobby-chat></app-lobby-chat>
  </div>
  <app-lobby-visualizer class="tw-w-full tw-h-full tw--z-10 tw-absolute tw-bottom-12"></app-lobby-visualizer>
</div>
