<div class="bg-dark tw-p-3 tw-rounded-md tw-h-full">
  @if (loading) {
  <span class="spinner-border text-primary spinner-border-sm" role="status" aria-hidden="true"></span>

  } @else {

  <form [formGroup]="lobbyForm" (ngSubmit)="!userCanEdit || submit()" class="h-100">
    <div class="form-container">
      <div class="tw-flex tw-flex-col md:tw-flex-row tw-gap-4 md:tw-gap-8">
        <input
          type="text"
          formControlName="name"
          required="required"
          class="form-control !tw-bg-grey tw-rounded-md placeholder:tw-text-light-grey tw-h-[50px] tw-w-[200px]"
          placeholder="Lobby name"
        />
        <div class="tw-flex tw-flex-col tw-items-start md:tw-items-center">
          <input
            type="text"
            formControlName="password"
            required="required"
            class="form-control !tw-bg-grey tw-rounded-md placeholder:tw-text-light-grey tw-h-[50px] tw-w-[200px] tw-mb-2"
            placeholder="Password"
          />
          <span class="tw-text-xs">keep it empty if this is public lobby</span>
        </div>
      </div>
      <h1 class="!tw-mt-2">Settings</h1>
      <div class="row">
        <div class="col-xxl-4 col-xl-5">
          <h3>Lobby</h3>
          <div class="row">
            <div class="mt-3">
              <div>
                <label>Number of musics </label>
              </div>
              <mat-slider style="width: 70%" color="primary" [min]="5" [max]="100" [step]="1">
                <input matSliderThumb formControlName="musicNumber" />
              </mat-slider>
              <div class="d-inline" style="width: 15%">
                <input type="number" max="100" min="5" formControlName="musicNumber" />
              </div>
            </div>
            <div class="mt-3">
              <div>
                <label>Guessing time </label>
              </div>
              <div>
                <mat-slider style="width: 70%" color="primary" [min]="5" [max]="60" [step]="1">
                  <input matSliderThumb formControlName="guessTime" />
                </mat-slider>
                <div class="d-inline" style="width: 15%">
                  <input type="number" max="100" min="5" formControlName="guessTime" />s
                </div>
              </div>
            </div>
            <div class="mt-3">
              <div>
                <label>
                  Played games
                  <i
                    class="fa-solid fa-question-circle"
                    mdbTooltip="The number of songs from players' list. The rest will be filled with random games."
                    placement="top"
                  ></i>
                </label>
              </div>
              <div>
                <mat-slider
                  style="width: 70%"
                  color="primary"
                  [min]="0"
                  [step]="1"
                  [max]="lobbyForm.get('musicNumber').value"
                >
                  <input matSliderThumb formControlName="playedMusics" />
                </mat-slider>
                <div class="d-inline" style="width: 15%">
                  <input
                    #musicPlayedInput
                    type="number"
                    min="0"
                    [max]="lobby ? lobby.playedMusics : 20"
                    formControlName="playedMusics"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <h3>Difficulty</h3>
          <section class="mb-3">
            <mat-checkbox class="mx-3 checkbox-center" formControlName="easyDifficulty" color="primary">
              Easy
            </mat-checkbox>
            <mat-checkbox class="mx-3 checkbox-center" formControlName="mediumDifficulty" color="primary"
              >Medium</mat-checkbox
            >
            <mat-checkbox class="mx-3 checkbox-center" formControlName="hardDifficulty" color="primary"
              >Hard</mat-checkbox
            >
          </section>
          <mat-checkbox
            *ngIf="!hideContribution()"
            class="mx-3"
            color="primary"
            formControlName="allowContributeToMissingData"
          >
            Contribute to improving the database
            <i class="fa-solid fa-question-circle" [mdbTooltip]="accuracyText()" [html]="true" placement="bottom"></i>
          </mat-checkbox>
          <div>
            <h3>
              Hint Button
              <i
                class="fa-solid fa-question-circle"
                mdbTooltip="Allow players to choose between 4 answers, but they win half the usual points"
                [html]="true"
                placement="bottom"
              ></i>
            </h3>
            <mat-radio-group aria-label="Select an option" class="d-flex" formControlName="hintMode" color="primary">
              <mat-radio-button [value]="lobbyHintModes.Disabled">Disabled</mat-radio-button>
              <mat-radio-button [value]="lobbyHintModes.Allowed">Allowed</mat-radio-button>
              <mat-radio-button [value]="lobbyHintModes.Always">Always</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-md-6 mt-2 mt-md-0">
          <h3>Game mode</h3>
          <mat-radio-group aria-label="Select an option" class="d-flex" formControlName="gameMode" color="primary">
            <mat-radio-button [value]="lobbyGameModes.Standard">Standard</mat-radio-button>
            <mat-radio-button value="2" disabled>Quick-draw</mat-radio-button>
            <mat-radio-button value="3" disabled>Battle royale</mat-radio-button>
            <mat-radio-button
              [value]="lobbyGameModes.LocalCouch"
              mdbTooltip="One of you plays the music, the other can turn off their phone. <br>Don't worry about neither your score nor your accuracy, it's gone"
              placement="bottom"
              [html]="true"
            >
              Local Couch
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <h3>Modifiers</h3>
          <mat-checkbox class="me-2 checkbox-center" formControlName="allowDuplicates" color="primary">
            Duplicate games
          </mat-checkbox>
          <mat-checkbox class="me-2 checkbox-center" formControlName="playMusicOnAnswerReveal" color="primary">
            Keep Playing Music On Answer Reveal
          </mat-checkbox>
          <mat-checkbox
            class="me-2 checkbox-center"
            formControlName="showCorrectAnswersDuringGuessTime"
            color="primary"
          >
            Show correct answers during guess time
          </mat-checkbox>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <h3>Filters</h3>
          <div class="tw-relative">
            @if (lobby ? !lobby.premium : lobbyInfo.userIsPremium) {
            <div
              class="tw-absolute w-100 h-100 tw-flex tw-justify-center tw-border tw-border-white tw-border-solid tw-items-center"
              style="background-color: rgba(0, 0, 0, 0.5); z-index: 10"
            >
              <p class="tw-self-center">Unlock filters by pledging on Patreon!</p>
              <a class="btn btn-primary tw-self-center" href="https://www.patreon.com/c/littlegubs" target="_blank"
                >Pledge</a
              >
            </div>
            }
            <mat-checkbox #filterDate formControlName="filterByYear" class="me-2 checkbox-center" color="primary">
              Filter by year
            </mat-checkbox>
            @if (filterDate.checked) {
            {{ lobbyForm.get('filterMinYear').value }}
            <mat-slider min="1970" max="2025">
              <input value="1970" matSliderStartThumb formControlName="filterMinYear" />
              <input value="2025" matSliderEndThumb formControlName="filterMaxYear" />
            </mat-slider>
            {{ lobbyForm.get('filterMaxYear').value }}
            }
          </div>
        </div>
      </div>
      <div *ngIf="!lobby" class="row justify-content-end mt-2">
        <div class="col-md-2">
          <button class="btn btn-primary w-100" type="submit">
            Create
            <span
              class="spinner-border spinner-border-sm"
              type="button"
              role="status"
              aria-hidden="true"
              *ngIf="submitLoading"
            ></span>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="lobby" class="row justify-content-end mt-2">
      <div class="col-md-2">
        <button *ngIf="userCanEdit" class="btn btn-primary w-100" type="submit">
          Save
          <span
            class="spinner-border spinner-border-sm"
            type="button"
            role="status"
            aria-hidden="true"
            *ngIf="submitLoading"
          ></span>
        </button>
      </div>
    </div>
  </form>
  }
</div>
