<div class="bg-dark p-4 h-100">
  <form [formGroup]="lobbyForm" (ngSubmit)="!userCanEdit || submit()" class="h-100">
    <div class="form-container">
      <mat-form-field class="me-2" appearance="outline">
        <mat-label>Lobby name</mat-label>
        <input matInput formControlName="name" required="required" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password </mat-label>
        <input matInput type="text" formControlName="password" />
        <mat-hint>keep it empty if this is public lobby</mat-hint>
      </mat-form-field>
      <h1>Settings</h1>
      <div class="row">
        <div class="col-xxl-4 col-xl-5">
          <h3>Lobby</h3>
          <div class="row">
            <div class="mt-3">
              <div>
                <label>Number of musics </label>
              </div>
              <mat-slider
                style="width: 80%"
                color="primary"
                formControlName="musicNumber"
                [thumbLabel]="true"
                [min]="5"
                [max]="100"
                [step]="1"
              ></mat-slider>
              <div class="d-inline" style="width: 15%">
                <input type="number" max="100" min="5" formControlName="musicNumber" />
              </div>
            </div>
            <div class="mt-3">
              <div>
                <label>Guess time </label>
              </div>
              <div>
                <mat-slider
                  style="width: 80%"
                  color="primary"
                  formControlName="guessTime"
                  [thumbLabel]="true"
                  [min]="5"
                  [max]="60"
                  [step]="1"
                ></mat-slider>
                <div class="d-inline" style="width: 15%">
                  <input type="number" max="100" min="5" formControlName="guessTime" />s
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h3>Difficulty</h3>
          <section class="mb-3">
            <mat-checkbox class="mx-3 checkbox-center" formControlName="easyDifficulty" color="primary">
              Easy
            </mat-checkbox>
            <mat-checkbox class="mx-3 checkbox-center" formControlName="mediumDifficulty" color="primary"
              >Medium</mat-checkbox
            >
            <mat-checkbox class="mx-3 checkbox-center" formControlName="hardDifficulty" color="primary"
              >Hard</mat-checkbox
            >
          </section>
          <mat-checkbox
            *ngIf="!hideContribution()"
            class="mx-3"
            color="primary"
            formControlName="allowContributeToMissingData"
          >
            Contribute to improving the database
            <i class="fa-solid fa-question-circle" [mdbTooltip]="accuracyText()" [html]="true" placement="bottom"></i>
          </mat-checkbox>
          <div>
            <h3>
              Hint Mode
              <i
                class="fa-solid fa-question-circle"
                mdbTooltip="Allow players to choose between 4 answers, but they win half the usual points"
                [html]="true"
                placement="bottom"
              ></i>
            </h3>
            <mat-radio-group aria-label="Select an option" class="d-flex" formControlName="hintMode" color="primary">
              <mat-radio-button [value]="lobbyHintModes.Disabled">Disabled</mat-radio-button>
              <mat-radio-button [value]="lobbyHintModes.Allowed">Allowed</mat-radio-button>
              <mat-radio-button [value]="lobbyHintModes.Always">Always</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-md-4 mt-2 mt-md-0">
          <h3>Game mode</h3>
          <mat-radio-group aria-label="Select an option" class="d-flex" formControlName="gameMode" color="primary">
            <mat-radio-button [value]="lobbyGameModes.Standard">Standard</mat-radio-button>
            <mat-radio-button value="2" disabled>Quick-draw</mat-radio-button>
            <mat-radio-button value="3" disabled>Battle royale</mat-radio-button>
            <mat-radio-button
              [value]="lobbyGameModes.LocalCouch"
              mdbTooltip="One of you plays the music, the other can turn off their phone. <br>Don't worry about neither your score nor your accuracy, it's gone"
              placement="bottom"
              [html]="true"
            >
              Local Couch
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <h3>Modifiers</h3>
          <mat-checkbox class="me-2 checkbox-center" formControlName="allowDuplicates" color="primary">
            Duplicate games
          </mat-checkbox>
          <mat-checkbox class="me-2 checkbox-center" formControlName="playMusicOnAnswerReveal" color="primary">
            Keep Playing Music On Answer Reveal
          </mat-checkbox>
        </div>
      </div>
    </div>
    <div class="row bg-dark justify-content-end mt-2">
      <div class="col-md-2">
        <button *ngIf="userCanEdit" class="btn btn-primary w-100" type="submit">
          {{ lobby ? 'Save' : 'Create' }}
          <span
            class="spinner-border spinner-border-sm"
            type="button"
            role="status"
            aria-hidden="true"
            *ngIf="loading"
          ></span>
        </button>
      </div>
    </div>
  </form>
</div>
