<div class="bg-dark p-4">
  <div class="row">
    <div class="col-4"><i class="fa-solid fa-hourglass-empty me-1"></i>{{ lobby?.guessTime }}s</div>
    <div class="col-4">
      <i class="fa-solid fa-music me-1"></i>{{ lobby?.currentLobbyMusicPosition }}/{{
        lobby?.musicNumber === -1 ? '∞' : lobby.lobbyMusics
      }}
    </div>
    <div class="col-4">
      <button
        *ngIf="me?.role === lobbyUserRoles.Host"
        class="btn btn-sm btn-primary"
        mdbTooltip="Restart lobby"
        (click)="restart()"
      >
        <i class="fa-solid fa-arrow-rotate-back"></i>
      </button>
    </div>
  </div>
</div>
