<div style="position: relative" [ngClass]="{ played: game.selectedByUser, 'no-music': !game.countMusics }">
  <a [routerLink]="['/admin/games/', game.slug]">
    <img
      [src]="
        game.cover?.imageId
          ? 'https://images.igdb.com/igdb/image/upload/t_720p/' + game.cover.imageId + '.jpg'
          : 'assets/imgs/missing picture.png'
      "
      class="card-img-top"
      [alt]="game.name"
    />
  </a>
  <div style="position: absolute; top: 0; left: 0; right: 0; z-index: 1" class="row mx-0 pt-1 justify-content-end">
    <div class="col text-end">
      <p class="badge rounded-pill" [ngStyle]="{ 'background-color': game.cover?.mainColor ?? '#5E5E5E' }">
        {{ game.countMusics }} <i class="fa-solid fa-music"></i>
      </p>
      <span
        *ngIf="isAdminSearchComponent"
        class="badge rounded-pill ms-2"
        [ngStyle]="{ 'background-color': game.cover?.mainColor ?? '#5E5E5E' }"
      >
        {{ game.countUsers }} <i class="fa-solid fa-gamepad"></i>
      </span>
    </div>
  </div>
  <ng-container *ngIf="isAdminSearchComponent === false">
    <button
      *ngIf="game.selectedByUser === false"
      style="position: absolute; bottom: 1rem; right: 1rem; z-index: 1"
      [ngStyle]="{ 'background-color': game.cover?.mainColor ?? '#5E5E5E' }"
      mat-mini-fab
      aria-label="Example icon button with a heart icon"
      (click)="addToList(game)"
    >
      <mat-icon>add</mat-icon></button
    ><button
      *ngIf="game.selectedByUser === true"
      style="position: absolute; bottom: 1rem; right: 1rem; z-index: 9000"
      [ngStyle]="{ 'background-color': game.cover?.mainColor ?? '#5E5E5E' }"
      mat-mini-fab
      aria-label="Example icon button with a heart icon"
      (click)="removeFromList(game)"
    >
      <mat-icon>close</mat-icon>
    </button>
  </ng-container>
</div>
<a [routerLink]="['/admin/games/', game.slug]">
  <h3 class="card-title orange">
    {{ game.name }}
  </h3>
</a>
