<div style="position: relative; aspect-ratio: 3/4; display: flex; align-items: center">
  <div class="w-100 tw-cursor-pointer" (click)="click()">
    <img
      *ngIf="game.cover; else noImage"
      [src]="'https://images.igdb.com/igdb/image/upload/t_720p/' + game.cover.imageId + '.jpg'"
      class="card-img-top tw-rounded-xl"
      style="flex: 0"
      [ngClass]="{ 'd-none': hidden }"
      [alt]="game.name"
      (load)="hidden = false"
    />
    <ng-template #noImage>
      <div class="p-2 text-center">
        <h2 class="m-0">{{ game.name }}</h2>
      </div>
    </ng-template>
  </div>
  <div
    class="w-100 h-100 tw-rounded-xl"
    style="position: absolute; top: 0; z-index: -1; filter: brightness(50%)"
    [ngStyle]="{ 'background-color': game.cover ? game.cover.colorPalette.backgroundColorHex : '#171717' }"
  ></div>
  <div class="pills-container has-admin-pill">
    <button
      class="pill !tw-rounded-br-lg !tw-rounded-tl-xl !tw-rounded-none"
      mat-raised-button
      [ngStyle]="{ 'background-color': game.cover ? game.cover.colorPalette.backgroundColorHex : '#171717' }"
    >
      <span class="tw-text-xs">{{ game.countUsers }}</span>
      <i class="fa-solid fa-gamepad"></i>
    </button>
    <button
      mat-raised-button
      [ngStyle]="{ 'background-color': game.cover ? game.cover.colorPalette.backgroundColorHex : '#171717' }"
      class="pill !tw-rounded-bl-lg !tw-rounded-tr-xl !tw-rounded-none"
    >
      <span class="tw-text-xs">{{ game.countMusics }}</span>
      <i class="fa-solid fa-music"></i>
    </button>
  </div>
  <ng-container>
    <button
      *ngIf="game.selectedByUser === false"
      [ngStyle]="{ 'background-color': game.cover ? game.cover.colorPalette.backgroundColorHex : '#171717' }"
      class="game-item-cta"
      mat-mini-fab
      aria-label="Example icon button with a heart icon"
      (click)="addToList(game)"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      *ngIf="game.selectedByUser === true"
      [ngStyle]="{ 'background-color': game.cover ? game.cover.colorPalette.backgroundColorHex : '#171717' }"
      class="game-item-cta"
      mat-mini-fab
      aria-label="Example icon button with a heart icon"
      (click)="removeFromList(game)"
    >
      <mat-icon>remove</mat-icon>
    </button>
  </ng-container>
</div>
