<div
  style="position: relative; aspect-ratio: 3/4; display: flex; align-items: center"
  [ngClass]="{ 'no-music': !game.countMusics }"
>
  <img
    [src]="
      game.cover?.imageId
        ? 'https://images.igdb.com/igdb/image/upload/t_720p/' + game.cover.imageId + '.jpg'
        : 'assets/imgs/missing picture.png'
    "
    class="card-img-top"
    style="flex: 0"
    [ngClass]="{ 'd-none': hidden }"
    [alt]="game.name"
    (load)="hidden = false"
    [routerLink]="['/admin/games/', game.slug]"
  />
  <div
    class="w-100 h-100"
    style="position: absolute; top: 0; z-index: -1; filter: brightness(50%)"
    [ngStyle]="{ 'background-color': game.cover?.mainColor ?? '#5E5E5E' }"
    [routerLink]="['/admin/games/', game.slug]"
  ></div>
  <div class="pills-container" [ngClass]="{ 'has-admin-pill': isAdminSearchComponent }">
    <button
      *ngIf="isAdminSearchComponent"
      class="pill countUsers"
      mat-raised-button
      [ngStyle]="{ 'background-color': game.cover?.mainColor ?? '#5E5E5E' }"
    >
      {{ game.countUsers }} <i class="fa-solid fa-gamepad"></i>
    </button>
    <button
      mat-raised-button
      [ngStyle]="{ 'background-color': game.cover?.mainColor ?? '#5E5E5E' }"
      class="pill countMusics"
    >
      {{ game.countMusics }} <i class="fa-solid fa-music"></i>
    </button>
  </div>
  <ng-container *ngIf="isAdminSearchComponent === false">
    <button
      *ngIf="game.selectedByUser === false"
      [ngStyle]="{ 'background-color': game.cover?.mainColor ?? '#5E5E5E' }"
      class="game-item-cta"
      mat-mini-fab
      aria-label="Example icon button with a heart icon"
      (click)="addToList(game)"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      *ngIf="game.selectedByUser === true"
      [ngStyle]="{ 'background-color': game.cover?.mainColor ?? '#5E5E5E' }"
      class="game-item-cta"
      mat-mini-fab
      aria-label="Example icon button with a heart icon"
      (click)="removeFromList(game)"
    >
      <mat-icon>remove</mat-icon>
    </button>
  </ng-container>
</div>
<div class="card-title orange" [routerLink]="['/admin/games/', game.slug]">
  <div *ngIf="game.selectedByUser" class="played"></div>
  <p>{{ game.name }}</p>
</div>
