<h1 mat-dialog-title>Are you sure you want to delete this music?</h1>
<div *ngIf="gameToMusic.derivedGameToMusics && gameToMusic.derivedGameToMusics.length > 0" mat-dialog-content>
  This music also appear in these games
  <ul>
    <li *ngFor="let derivedGameToMusic of gameToMusic.derivedGameToMusics">{{ derivedGameToMusic.game.name }}</li>
  </ul>
  You'll need to remove them manually if necessary
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-flat-button color="warn" [mat-dialog-close]="true">Confirm</button>
</mat-dialog-actions>
