<form
  class="tw-flex tw-items-center tw-justify-center tw-flex-col"
  [formGroup]="signupForm"
  (ngSubmit)="loading || recaptcha.execute()"
>
  <div class="col-md-12 alert alert-danger" role="alert" *ngIf="formErrorMessage">
    {{ formErrorMessage }}
  </div>
  <input
    type="text"
    class="form-control !tw-bg-grey tw-text-center tw-w-[300px] md:tw-w-[400px] tw-h-[53px] tw-mt-8 tw-mb-2 tw-rounded-md placeholder:tw-text-white"
    formControlName="username"
    placeholder="Username"
    required
    [ngClass]="{ 'is-invalid': username.invalid && (username.dirty || username.touched) }"
  />
  <div *ngIf="username.errors" class="invalid-feedback">
    <ng-container *ngIf="username.errors.minlength"> Username should be at least 4 characters long. </ng-container>
    <ng-container *ngIf="username.errors.serverError">
      {{ username.errors.serverError }}
    </ng-container>
  </div>
  <input
    type="email"
    class="form-control !tw-bg-grey tw-text-center tw-w-[300px] md:tw-w-[400px] tw-h-[53px] tw-mb-2 tw-rounded-md placeholder:tw-text-white"
    formControlName="email"
    placeholder="Email"
    required
    [ngClass]="{ 'is-invalid': email.invalid && (email.dirty || email.touched) }"
  />
  <div *ngIf="email.errors" class="invalid-feedback">
    <ng-container *ngIf="email.errors.email"> Please enter a correct email. </ng-container>
    <ng-container *ngIf="email.errors.serverError">
      {{ email.errors.serverError }}
    </ng-container>
  </div>
  <input
    type="password"
    class="form-control !tw-bg-grey tw-text-center tw-w-[300px] md:tw-w-[400px] tw-h-[53px] tw-rounded-md placeholder:tw-text-white"
    formControlName="password"
    placeholder="Password"
    required
    [ngClass]="{ 'is-invalid': password.invalid && (password.dirty || password.touched) }"
  />
  <div *ngIf="password.errors" class="invalid-feedback">
    <ng-container *ngIf="password.errors.minlength"> Password should at least have 3 characters. </ng-container>
    <ng-container *ngIf="password.errors.serverError">
      {{ password.errors.serverError }}
    </ng-container>
  </div>
  <re-captcha
    class="tw-text-center"
    #recaptcha
    [siteKey]="environment.recaptchaKey"
    (resolved)="$event && registerUser($event)"
    theme="dark"
    size="invisible"
  ></re-captcha>
  <button
    [disabled]="signupForm.invalid || loading"
    type="submit"
    class="tw-h-btn tw-w-btn tw-bg-lime tw-mt-6 tw-text-black"
  >
    Sign Up
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
  </button>
  <p class="tw-text-white tw-text-sm !tw-mt-5">
    Already have an account ? <a routerLink="/" class="tw-text-[#59EE7F] tw-no-underline">Login</a>
  </p>
</form>
