<form
  class="flex items-center justify-center flex-col"
  [formGroup]="signupForm"
  (ngSubmit)="loading || recaptcha.execute()"
>
  <div class="col-md-12 alert alert-danger" role="alert" *ngIf="formErrorMessage">
    {{ formErrorMessage }}
  </div>
  <input
    type="text"
    class="bg-grey text-center placeholder: w-[300px] md:w-[400px] h-[53px] mt-8 mb-2 rounded-md"
    formControlName="username"
    placeholder="Username"
    required
    [ngClass]="{ 'is-invalid': username.invalid && (username.dirty || username.touched) }"
  />
  <div *ngIf="username.errors" class="invalid-feedback">
    <ng-container *ngIf="username.errors.minlength"> Username should be at least 4 characters long. </ng-container>
    <ng-container *ngIf="username.errors.serverError">
      {{ username.errors.serverError }}
    </ng-container>
  </div>
  <input
    type="email"
    class="bg-grey text-center placeholder: w-[300px] md:w-[400px] h-[53px] mb-2 rounded-md"
    formControlName="email"
    placeholder="Email"
    required
    [ngClass]="{ 'is-invalid': email.invalid && (email.dirty || email.touched) }"
  />
  <div *ngIf="email.errors" class="invalid-feedback">
    <ng-container *ngIf="email.errors.email"> Please enter a correct email. </ng-container>
    <ng-container *ngIf="email.errors.serverError">
      {{ email.errors.serverError }}
    </ng-container>
  </div>
  <input
    type="password"
    class="bg-grey text-center placeholder: w-[300px] md:w-[400px] h-[53px] rounded-md"
    formControlName="password"
    placeholder="Password"
    required
    [ngClass]="{ 'is-invalid': password.invalid && (password.dirty || password.touched) }"
  />
  <div *ngIf="password.errors" class="invalid-feedback">
    <ng-container *ngIf="password.errors.minlength"> Password should at least have 3 characters. </ng-container>
    <ng-container *ngIf="password.errors.serverError">
      {{ password.errors.serverError }}
    </ng-container>
  </div>
  <re-captcha
    class="text-center"
    #recaptcha
    [siteKey]="environment.recaptchaKey"
    (resolved)="$event && registerUser($event)"
    theme="dark"
    size="invisible"
  ></re-captcha>
  <button [disabled]="signupForm.invalid || loading" type="submit" class="h-btn w-btn bg-lime mt-6 text-black">
    Sign Up
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
  </button>
  <p class="text-sm mt-5">Already have an account ? <a routerLink="/" class="text-[#59EE7F] no-underline">Login</a></p>
</form>
