<div>
	<h1>Update my game list</h1>
	<p>Enter your IGDB username and press the Update button !</p>
	<div class="form-group">
		<input [(ngModel)]="IGDBUsername" class="form-control" [ngClass]="{'is-invalid': errorMessage, 'is-valid': success}">
		<small id="emailHelp" class="form-text text-muted">
			take the username shown in the IGDB url (e.g., https://www.igdb.com/users/<strong>your_username</strong>)
		</small>
		<div class="valid-feedback" *ngIf="success">
			Game list successfully updated !
		</div>
		<div class="invalid-feedback" *ngIf="errorMessage">
			{{errorMessage}}
		</div>
		<button class="btn btn-primary" (click)="loading || updateGameList()" [disabled]="loading">
			<span class="spinner-border spinner-border-sm" role="status"
		  			aria-hidden="true" *ngIf="loading"></span>
			Update
		</button>
	</div>
</div>
