<div class="row justify-content-between">
  <div class="col">
    <h1 *ngIf="gamesCount">{{ gamesCount }} games</h1>
    <div class="form-group">
      <label>Show disabled game</label>
      <mat-slide-toggle
        color="primary"
        [(ngModel)]="showDisabled"
        (click)="loading || toggleShowDisabled()"
        [disabled]="loading"
      >
      </mat-slide-toggle>
    </div>
  </div>
  <div class="col text-end">
    <button class="btn btn-primary" (click)="openImportDialog()">Import game from IGDB</button>
  </div>
</div>
<div class="form-group">
  <input
    type="text"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="game..."
    [(ngModel)]="query"
    (keyup)="search()"
  />
</div>
<ng-container *ngIf="loading; else cardColumns">
  <div class="d-flex justify-content-center">
    <div class="spinner-border orange" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-container>
<ng-template #cardColumns>
  <div class="mt-4 row">
    <div class="col-6 col-md-2" *ngFor="let game of games">
      <a [routerLink]="['/admin/games/', game.slug]">
        <img
          *ngIf="game.cover?.imageId"
          src="https://images.igdb.com/igdb/image/upload/t_720p/{{ game.cover.imageId }}.jpg"
          class="card-img-top"
          [alt]="game.name"
        />
        <div>
          <h3 class="card-title orange">{{ game.name }}</h3>
        </div>
      </a>
    </div>
  </div>
</ng-template>
