<div class="form-group">
  <h1 *ngIf="gamesCount">{{ gamesCount }} games</h1>
  <div class="form-group">
    <label>Show disabled game</label>
    <mat-slide-toggle
      color="primary"
      [(ngModel)]="showDisabled"
      (click)="loading || toggleShowDisabled()"
      [disabled]="loading"
    >
    </mat-slide-toggle>
  </div>
  <input
    type="text"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="game..."
    [(ngModel)]="query"
    (keyup)="search()"
  />
</div>
<ng-container *ngIf="loading; else cardColumns">
  <div class="d-flex justify-content-center">
    <div class="spinner-border orange" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-container>
<ng-template #cardColumns>
  <div class="h-100">
    <cdk-virtual-scroll-viewport itemSize="3" class="h-100 w-100">
      <div class="col-2" *cdkVirtualFor="let game of games">
        <a [routerLink]="['/admin/games/', game.slug]" class="card">
          <img
            *ngIf="game.cover.imageId"
            src="https://images.igdb.com/igdb/image/upload/t_720p/{{ game.cover.imageId }}.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h3 class="card-title orange">{{ game.name }}</h3>
            <p class="card-text">{{ game.firstReleaseDate | date: 'y' }}</p>
          </div>
        </a>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</ng-template>
