@if (lobby) {
<div
  class="container-fluid"
  style="display: flex; flex-direction: column; height: 100%"
  [ngClass]="{
    'tw-justify-center': lobby.status === lobbyStatuses.Result,
    'tw-pb-12': lobby.status === lobbyStatuses.Result
  }"
>
  @if (lobby.status === lobbyStatuses.Waiting) {
  <app-lobby-waiting></app-lobby-waiting>
  } @if (lobbyService.isPLaying(lobby)) {
  <app-lobby-playing></app-lobby-playing>
  } @if (lobby.status === lobbyStatuses.Result) {
  <app-lobby-result
    style="display: flex; justify-content: center; align-items: center; height: 100%"
  ></app-lobby-result>
  } @if (lobby.status !== lobbyStatuses.Result) {
  <app-lobby-users></app-lobby-users>
  }
</div>
} @else { loading }
