<div class="tw-flex tw-flex-col tw-items-center !tw-bg-grey">
  <h1 class="!tw-mb-8 !tw-mt-2 tw-text-white !tw-font-fastup !tw-text-6xl tw-text-center">Import a game</h1>
  <p class="tw-w-3/4 tw-text-center">
    import a game from <a href="https://www.igdb.com/search" target="_blank">igdb.com</a> by searching a game and
    copying its url below
  </p>
  <p class="tw-w-3/4 tw-text-center">
    You are only allowed to import what IGDB calls <b class="text-primary">"main games"</b>.
  </p>
  <p class="tw-w-3/4 tw-text-center">
    If you want to add a DLC, expansion, chapter, etc... please request your game in
    <a href="https://discord.com/channels/978654868296331314/1036244380031402075" target="_blank">
      the dedicated Discord channel
    </a>
  </p>
  <form (ngSubmit)="submit()" class="tw-w-3/4">
    <input
      class="form-control !tw-bg-grey tw-rounded-md placeholder:tw-text-light-grey"
      required
      [formControl]="form"
      placeholder="IGDB url (ex: https://www.igdb.com/games/nier-automata)"
      [ngClass]="{ 'is-invalid': form.invalid && (form.dirty || form.touched) }"
    />
    <div *ngIf="form.errors" class="invalid-feedback">
      <ng-container *ngIf="form.errors.serverError">
        {{ form.errors.serverError }}
      </ng-container>
    </div>
  </form>
  <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>
  <div *ngIf="importedGames.length > 0">
    <p class="text-success">Successfully imported {{ importedGames.length }} games!</p>
    <ul>
      <li *ngFor="let game of importedGames">{{ game }}</li>
    </ul>
  </div>
  <div class="tw-my-4">
    <button
      class="btn btn-outline-primary"
      [disabled]="form.invalid || loading"
      [ngClass]="{ disabled: form.invalid || loading }"
      (click)="form.invalid || loading || submit()"
    >
      Import<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
    </button>
  </div>
</div>
