

.presentation {
  border-radius: 1%;
  padding: 25px;
  text-align: center;
  h1 {
    font-size: 36px;
  }
}

@include media-breakpoint-down(md) {
  .anon-container {
    width: 100%;
  }
}


.logged-in-container:has(app-result-scoreboard) {
  overflow-y: hidden;
}
