.container {
  margin-top: 17%;
  width: 50%;
  background-color: $dark;
  font-weight: 500;
  padding: 25px;
  border-radius: 1%;
}

.container-fluid {
  padding: 0;
  margin: 0;
  font-weight: 500;
}
