app-anonymous {
  .gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: #131314;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #e3e3e3;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
    border-color: #8e918f;
  }

  .gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
  }

  .gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  .gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
  }

  .gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .gsi-material-button:disabled {
    cursor: default;
    background-color: #13131461;
    border-color: #8e918f1f;
  }

  .gsi-material-button:disabled .gsi-material-button-state {
    background-color: #e3e3e31f;
  }

  .gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
  }

  .gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
  }

  .gsi-material-button:not(:disabled):active .gsi-material-button-state,
  .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: white;
    opacity: 12%;
  }

  .gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  }

  .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: white;
    opacity: 8%;
  }

  @layer base {
    p {
      font-family: "Poppins", sans-serif !important;
    }

    h4, button {
      font-family: "Fastup SC", sans-serif !important;
    }

    button {
      @apply tw-rounded-md tw-text-xl
    }

    section {
      @apply tw-py-16
    }

    #games-preview > div {
      position: relative;
    }

    #games-preview > div::before,
    #games-preview > div::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 30%;
      background: linear-gradient(to right, rgba(0, 0, 0, 1.5), transparent);
    }

    #games-preview > div::before {
      left: 0;
    }

    #games-preview > div::after {
      right: 0;
      transform: scaleX(-1);
    }

    #what-is {
      position: relative;
    }

    #what-is::before {
      content: '';
      position: absolute;
      top: -1700px;
      bottom: -100px;
      background-image: url('../../svg/what_is_bg.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      z-index: -1;
    }

    #games-preview {
      position: relative;
    }

    #games-preview::before {
      content: '';
      position: absolute;
      top: -180px;
      bottom: 0;
      background-image: url('../../svg/games_preview_bg.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      z-index: -1;
    }

    #games-number {
      position: relative;
    }

    #games-number::before {
      content: '';
      position: absolute;
      top: -50px;
      bottom: 0;
      background-image: url('../../svg/games_number_bg.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      z-index: -1;
    }

    @media screen and (max-width: 768px) {
      #games-number::before {
        display: none;
      }

      #games-preview::before {
        display: none;
      }

      #what-is::before {
        display: none;
      }
    }
  }
}

