<form
  class="flex items-center justify-center flex-col"
  [formGroup]="loginForm"
  (ngSubmit)="loading || recaptcha.execute()"
>
  <div class="col-md-12 alert alert-danger" role="alert" *ngIf="formErrorMessage">
    {{ formErrorMessage }}
  </div>
  <input
    type="email"
    class="bg-grey text-center placeholder: w-[300px] md:w-[400px] h-[53px] mt-8 mb-2 rounded-md"
    formControlName="email"
    placeholder="Email"
    required
    [ngClass]="{
      'is-invalid':
        loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
    }"
  />
  <div *ngIf="loginForm.get('email')?.errors?.serverError as error" class="invalid-feedback">
    {{ error }}
  </div>
  <input
    type="password"
    class="bg-grey text-center placeholder: w-[300px] md:w-[400px] h-[53px] rounded-md"
    formControlName="password"
    placeholder="Password"
    [ngClass]="{
      'is-invalid':
        loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
    }"
  />
  <div *ngIf="loginForm.get('password')?.errors?.serverError as error" class="invalid-feedback">
    {{ error }}
  </div>
  <re-captcha
    #recaptcha
    [siteKey]="environment.recaptchaKey"
    theme="dark"
    (resolved)="$event && loginUser($event)"
    size="invisible"
  ></re-captcha>
  <button type="submit" class="h-btn w-btn bg-lime mt-6 text-black" [disabled]="loading">
    <span
      class="spinner-border spinner-border-sm"
      type="button"
      role="status"
      aria-hidden="true"
      *ngIf="loading"
    ></span>
    Login
  </button>
  <a routerLink="/reset-password" class="text-sm text-white mt-5 no-underline">Forgot your password?</a>
  <p class="text-sm">
    Don’t have account? <a routerLink="/register" class="text-[#59EE7F] no-underline">Register Here</a>
  </p>
</form>
