<div class="container">
  <h1 class="h1 font-weight-normal text-center">VGMQ</h1>
  <h4 class="h4 font-weight-normal text-center">Video Game Music Quiz</h4>
  <div class="row align-items-center">
    <div class="col-md-6">
      <form class="form-login" [formGroup]="loginForm" (ngSubmit)="loading || loginUser()">
        <div class="col-md-12 alert alert-danger" role="alert" *ngIf="formErrorMessage">
          {{ formErrorMessage }}
        </div>
        <div class="form-group">
          <label>Username</label>
          <input
            type="email"
            class="form-control"
            formControlName="username"
            placeholder="username"
            required
            [ngClass]="{
              'is-invalid':
                loginForm.get('username')?.invalid &&
                (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)
            }"
          />
          <div *ngIf="loginForm.get('username')?.errors?.serverError as error" class="invalid-feedback">
            {{ error }}
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Password"
            [ngClass]="{
              'is-invalid':
                loginForm.get('password')?.invalid &&
                (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
            }"
          />
          <div *ngIf="loginForm.get('password')?.errors?.serverError as error" class="invalid-feedback">
            {{ error }}
          </div>
        </div>
        <re-captcha
          #recaptcha
          formControlName="recaptcha"
          [siteKey]="environment.recaptchaKey"
          theme="dark"
        ></re-captcha>
        <div class="col-md-12 text-center mt-3">
          <button type="submit" class="btn btn-primary col-md-6" [disabled]="loading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
            Log in
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-6 text-center">
      <div class="form-group">
        <label>No <span class="orange">account</span> ?</label>
        <div class="col-md-12">
          <a routerLink="/register" class="btn btn-primary col-md-6">Register now</a>
        </div>
      </div>
    </div>
  </div>
</div>
