<form
  class="tw-flex tw-items-center tw-justify-center tw-flex-col"
  [formGroup]="loginForm"
  (ngSubmit)="loading || recaptcha.execute()"
>
  <div class="col-md-12 alert alert-danger" role="alert" *ngIf="formErrorMessage">
    {{ formErrorMessage }}
  </div>
  <input
    type="email"
    class="form-control !tw-bg-grey tw-text-center tw-w-[300px] md:tw-w-[400px] tw-h-[53px] tw-mt-8 tw-mb-2 tw-rounded-md placeholder:tw-text-white"
    formControlName="email"
    placeholder="Email"
    required
    [ngClass]="{
      'is-invalid':
        loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
    }"
  />
  <div *ngIf="loginForm.get('email')?.errors?.serverError as error" class="invalid-feedback">
    {{ error }}
  </div>
  <input
    type="password"
    class="form-control !tw-bg-grey tw-text-center tw-w-[300px] md:tw-w-[400px] tw-h-[53px] tw-rounded-md placeholder:tw-text-white"
    formControlName="password"
    placeholder="Password"
    [ngClass]="{
      'is-invalid':
        loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
    }"
  />
  <div *ngIf="loginForm.get('password')?.errors?.serverError as error" class="invalid-feedback">
    {{ error }}
  </div>
  <re-captcha
    #recaptcha
    [siteKey]="environment.recaptchaKey"
    theme="dark"
    (resolved)="$event && loginUser($event)"
    size="invisible"
  ></re-captcha>
  <button type="submit" class="tw-h-btn tw-w-btn tw-bg-lime tw-mt-6 tw-text-black tw-border-none" [disabled]="loading">
    <span
      class="spinner-border spinner-border-sm"
      type="button"
      role="status"
      aria-hidden="true"
      *ngIf="loading"
    ></span>
    Login
  </button>
  <a routerLink="/reset-password" class="tw-font-poppins tw-text-sm tw-text-white tw-mt-5 tw-no-underline">Forgot your password?</a>
  <p class="tw-text-sm tw-text-white">
    Don’t have account? <a routerLink="/register" class="tw-text-[#59EE7F] tw-no-underline">Register Here</a>
  </p>
</form>
