.backgroundImage {
    background-image: url(../src/assets/imgs/backgroundLogin.png);
}

.btn {
    width: 35%;
}

.centered {
    text-align: center;
}

.spacingBot {
    padding-bottom: 20px;
}

.btn-primary {
    background-color: #FF7D43;
    border-color: #FF7D43;
    border-radius: 0;
}

.btn-primary:disabled {
    background-color: rgb(233, 158, 124);
    border-color: #FF7D43;
    border-radius: 0;
}

.btn-primary:hover {
    background-color: white;
    color: #FF7D43;
    border-color: #FF7D43;
    border-radius: 0;
}

.orange {
    color:#FF7D43;
}