<youtube-player
  *ngIf="mediaTypeOnReveal === 2 && lobbyMusic?.video"
  class="game-reveal-video-media"
  [videoId]="lobbyMusic.video.videoId"
  suggestedQuality="highres"
  [playerVars]="playerVars"
  (ready)="playVideo($event)"
>
</youtube-player>
<div
  class="d-flex"
  *ngIf="
    (mediaTypeOnReveal === 1 || (mediaTypeOnReveal === 2 && !lobbyMusic?.video)) &&
    lobbyMusic &&
    lobbyMusic.screenshots.length > 0
  "
>
  <img
    *ngFor="let screenshot of lobbyMusic.screenshots; let i = index"
    class="game-reveal-picture-media"
    [ngStyle]="{
      opacity: currentScreenshotIndex === i ? 1 : 0
    }"
    [src]="'https://images.igdb.com/igdb/image/upload/t_1080p/' + screenshot.imageId + '.jpg'"
    alt="screenshot"
  />
</div>
