<youtube-player
  *ngIf="mediaTypeOnReveal === 2 && lobbyMusic?.video"
  class="game-reveal-video-media"
  [videoId]="lobbyMusic.video.videoId"
  suggestedQuality="highres"
  [playerVars]="playerVars"
  (ready)="playVideo($event)"
>
</youtube-player>
<mdb-carousel
  class="game-reveal-picture-media"
  [animation]="'fade'"
  [interval]="5000"
  *ngIf="
    (mediaTypeOnReveal === 1 || (mediaTypeOnReveal === 2 && !lobbyMusic?.video)) &&
    lobbyMusic &&
    lobbyMusic.screenshots.length > 0
  "
>
  <mdb-carousel-item *ngFor="let screenshot of lobbyMusic.screenshots">
    <img
      [src]="'https://images.igdb.com/igdb/image/upload/t_1080p/' + screenshot.imageId + '.jpg'"
      class="d-block w-100"
      alt="..."
    />
  </mdb-carousel-item>
</mdb-carousel>
