<div class="bg-dark p-4 mb-2 mb-md-0" [ngClass]="{ 'd-none d-md-block': !answer?.gameToMusic }">
  <div class="row">
    <ng-container *ngIf="answer?.gameToMusic; else skeleton">
      <div class="col-md-12">
        <h2 class="mb-1">
          {{ answer.gameToMusic.game.name }}
          <small
            *ngIf="
              answer.gameToMusic.game.platforms?.length === 1 ||
              (answer.gameToMusic.game.platforms?.length > 1 && answer.gameToMusic.game.category === 11)
            "
            class="ms-1 text-muted"
            style="font-size: 11px"
          >
            <ng-container *ngIf="answer.gameToMusic.game.platforms?.length === 1">{{
              answer.gameToMusic.game.platforms[0].name
            }}</ng-container>
            <ng-container
              *ngIf="answer.gameToMusic.game.platforms?.length > 1 && answer.gameToMusic.game.category === 11"
            >
              <ng-container
                *ngFor="let platform of answer.gameToMusic.game.platforms; let isFirst = last; let isLast = last"
              >
                {{ platform.abbreviation }}<ng-container *ngIf="!isFirst && !isLast">, </ng-container>
              </ng-container>
            </ng-container>
          </small>
        </h2>
      </div>

      <div class="col-sm-4 col-md-6">
        <div style="position: relative; aspect-ratio: 3/4">
          <img
            [src]="
              answer.gameToMusic.game.cover?.imageId
                ? 'https://images.igdb.com/igdb/image/upload/t_720p/' + answer.gameToMusic.game.cover.imageId + '.jpg'
                : 'assets/imgs/missing picture.png'
            "
            class="card-img-top"
            [alt]="answer.gameToMusic.game.name"
          />
        </div>
      </div>
      <div class="col-sm-8 col-md-6">
        <div>
          <h4 class="mb-1">Music</h4>
          <small style="font-size: 11px">{{ answer.gameToMusic.title ?? answer.gameToMusic.music.title }}</small>
        </div>
        <div class="mt-2">
          <h4 class="mb-1">Artist</h4>
          <small style="font-size: 11px">{{ answer.gameToMusic.artist ?? answer.gameToMusic.music.artist }}</small>
        </div>
      </div>
    </ng-container>
    <ng-template #skeleton>
      <div class="col-md-12">
        <h2 class="placeholder col-md-6"></h2>
      </div>

      <div class="col-md-6">
        <div class="w-auto h-100 img-placeholder" style="aspect-ratio: 3/4"></div>
      </div>
      <div class="col-md-6">
        <div>
          <h4 class="mb-1 placeholder col-md-4"></h4>
          <small style="font-size: 10px" class="placeholder col-md-12"></small>
          <small style="font-size: 10px" class="placeholder col-md-6"></small>
        </div>
        <div class="mt-2">
          <h4 class="mb-1 placeholder col-md-4"></h4>
          <small style="font-size: 10px" class="placeholder col-md-9"></small>
          <small style="font-size: 10px" class="placeholder col-md-6"></small>
        </div>
      </div>
    </ng-template>
    <p class="mt-2" *ngIf="answer && answer.contributeToMissingData">
      <small style="font-size: 10px">
        <i class="fa-solid fa-exclamation-triangle text-primary"></i> This music may not reflect the difficulty
        configured.
      </small>
    </p>
  </div>
</div>
